html {
  font-size: 0.95em;
}

.printview {
  display: none;
}

#container {
  margin-top: 50px;
}
.title {
  font-weight: bold;
}

#header {
  display: table;
  min-width: 100%;
  text-align: center;
}

#name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

img.logo {
  max-width: 25px;
  vertical-align: middle;
}

#skills {
  font-size: 0.95em;
}

#experience .details {
  font-size: 0.8em;
  font-weight: normal;
}

#education ul {
  margin-top: 0;
}

#education .elem {
  margin-bottom: 10px; 
}

#education .institution {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.subheading1 {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
}

.subheading2 {
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;

  margin-left: -8px;
  margin-top: 8px;
  margin-bottom: 4px;
}

div #experience .position {
  margin-top: 0px;
  width: 100%;
}

#experience div.position span.heading {
}
#experience div.position span.location {
  font-style: italic;
  padding: 5px;
}

#experience div.position span.url {
  font-weight: bold;
  padding: 5px;
  font-size: 0.9em;
}


span.date {
  font-weight: bold;
  float: right;
  text-align: right;
}

.position ul {
   margin-top: 0;
}

#skills td {
  vertical-align: top;
}

/* special handling for print views */
@media print {
  footer { page-break-after: always; }

  /* Font related stuff */
  html {
    font-family: "Times New Roman";
    font-size: 0.9em;
  }

  #nameblock {
    text-align: left;
    float: left;
    width: 50%;
  }

  #name {
    text-align: left;
    margin-bottom: 0px;
  }
 
  #contactinfo {
    margin-top: 8px;
    text-align: right;
    float: right;
    width: 50%;
  }

  /* link colors */
  a:link {
    text-decoration: none;
    color: #000000;
  }

  a:visited {
    text-decoration: none;
    color: #000000;
  }

  /* Element hiding and showing */
  .webview {
    display: none;
  }

  .printview {
    display: inline;
  }

  #container {
    width: 640px;
  }

  #publications {
    width: 640px;
  }

  #publist {
    font-size: 0.8em;
  }
}


